<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4 shadow rounded">
            <form action="/home/index" method="post">
                <label>Nombre</label><br />
                <input type="text" id="nombre" name="nombre" placeholder="ej. Juan"
                       class="form-control" />

                <label>Clave</label><br />
                <input type="password" id="clave" name="clave" class="form-control" />

                <input type="submit" value="Enviar" class="btn btn-primary my-3" />
            </form>
        </div>
    </div>
    @if (ViewBag.Error != null) {
        <div class="alert alert-danger mt-3" role="alert">
            @ViewBag.Error
        </div>
    } else {
        if(ViewBag.Nombre != null) { 
            <div class="alert alert-success mt-3" role="alert">
                Hola @ViewBag.Nombre has ingresado correctamente
            </div>
        }
    }
</div>
