<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4 shadow rounded">
            <form action="/home/index" method="post">
                <label>Nombre</label><br />
                <input type="text" id="nombre" name="nombre" placeholder="ej. Juan"
                       class="form-control" />

                <label>Apellido</label><br />
                <input type="text" id="apellido" name="apellido" placeholder="ej. Perez" class="form-control" />

                <input type="submit" value="Enviar" class="btn btn-primary my-3" />
            </form>
        </div>
    </div>
</div>
